@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core"></a></p>
</div>
<div><img src="~/img/dest_20220121_alimentacao_saudavel_645.jpg" width="100%"/></div>
<p></p>
<div>
    Alimentação saudável é aquela que fornece todos os nutrientes fundamentais para o funcionamento do nosso corpo, como carboidratos, lipídios, proteínas, sais minerais e vitaminas. Muitas pessoas acreditam que os carboidratos e lipídios são vilões quando o assunto é uma alimentação adequada, entretanto os carboidratos são uma importante fonte de energia para o nosso corpo, e os lipídios atuam, entre outras funções, na formação de certos hormônios, na proteção contra choques mecânicos e no transporte de vitaminas.
</div> 
<p></p>
<div>
    A chave para ter uma alimentação saudável é o equilíbrio. Não podemos excluir nenhum dos nutrientes da nossa alimentação, mas devemos estar atentos à quantidade que estamos ingerindo de cada um deles. Não há como compensar a falta de um nutriente ingerindo outro em grande quantidade.</div>
<div>Outro  ponto importante é investir em variedade. É comum ouvirmos, por exemplo, que um prato colorido indica uma alimentação saudável. Essa afirmação é feita, pois quanto mais diversa é sua alimentação, maior quantidade de nutrientes diferentes está sendo oferecida ao seu corpo.
</div>
